/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-prueba {
	border: 1px dotted #f00;
}

.setup-tabs {
  align-items: flex-start;
  box-sizing: border-box;
  color: #1e1e1e;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  gap: 16px;
  margin: 0;
  padding: 24px;
  position: relative;
  text-align: left;
  width: 100%;
  -moz-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #1e1e1e;
  outline: 1px solid #0000;
}

.setup-tabs .tabs-form {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media (min-width: 782px) {
  .setup-tabs .tabs-form {
    align-items: flex-end;
    flex-direction: row;
  }
}

.setup-tabs .number-tabs {
	.components-base-control__field{
		margin-bottom: 0px;
	}
	.components-text-control__input{
		height: 40px;
	}
}

.setup-tabs .components-button.create-tabs {
	height: 40px;
}
