/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.group-progress.progress-stacked .block-editor-inner-blocks,
.progress-stacked .block-editor-block-list__layout{
	width: 100%;
	height: 100%;
}

.group-progress.progress-stacked .block-editor-block-list__layout{
	display: flex;
	flex-wrap: nowrap;
}

.group-progress.progress-stacked p{
	margin: 0;
}