/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.group-collapse .block-editor-inner-blocks{
	border: 1px dashed  #0000000d;
}
.block-note{
	background-color: #0000000d;
	padding:4px;
	font-size: 12px;
	text-align: center;
}
