/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-ekiline-block-collection-ekiline-carousel{
  background: red;
  .carousel, .carousel-item {
    min-height: 50px;
    min-height: 400px;
  }
}
