/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.carousel, .carousel-item {
  min-height: 50px;
  min-height: 50vh;
  background: red;
}
