/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */
.carousel, .carousel-item, [class*="carousel"] {
  min-height: 50px;
  min-height: 50vh;
  background: cyan;
}
