/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.modal-footer {
  padding: 1rem;
  border-top: 1px solid #0000000d;
  border-bottom-right-radius: calc(0.5rem - 1px);
  border-bottom-left-radius: calc(0.5rem - 1px);
}

.modal-footer > * {
  margin: calc(0.5rem * .5);
}

.modal-resize{
  border: none;
}