/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.toast-header p{
	width: 100%;
	margin: 0px;
}

// .group-toast{
// 	background-color: #f5f5f5;
// 	opacity: 0.8;
// 	background-image:  repeating-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff), repeating-linear-gradient(45deg, #fff 25%, #f5f5f5 25%, #f5f5f5 75%, #fff 75%, #fff);
// 	background-position: 0 0, 10px 10px;
// 	background-size: 20px 20px;
// 	border: 1px solid #000;
// 	border-radius: 10px;
// }

.group-toast{
	z-index: 1080;
	min-height: 160px;
}