/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-ekiline-block-collection-navbar-list{
  background-color: none !important;
}
.ekiline-navbar-setup-wrapper,
.ekiline-navbar-preview-wrapper,
.ekiline-navbar-code-wrapper {
	background-color: #ffffff !important;
	color: initial !important;
	margin-bottom: 1rem;
}

.ekiline-navbar-setup-wrapper {
  align-items: flex-start;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0;
  padding: 24px;
  position: relative;
  text-align: left;
  width: 100%;
  -moz-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #1e1e1e;
  outline: 1px solid #0000;
}

.ekiline-navbar-setup-wrapper > .block-editor-inner-blocks {
  width: 100%;
}

.ekiline-navbar-setup-wrapper > .block-editor-inner-blocks > .block-editor-block-list__layout > ul{
	border-top: 1px solid #0000000d;
	border-bottom: 1px solid #0000000d;
	padding: 1rem 2rem;
}

.ekiline-navbar-code-wrapper{
	border: 1px dashed #ccc;
	padding: 1rem;
	border-radius: 8px;
	max-height: 220px;
	overflow: auto;
	margin-top: 1rem;
}
