/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.tab-content{
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.tab-content .tab-pane {
  display: none;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  border: 1px solid var(--bs-border-color);
  border-bottom-left-radius: 0.375rem;;
  border-bottom-right-radius: 0.375rem;;
  border-top-color: transparent;
}

.tab-content .active {
  display: block;
}

.tab-content .tab-pane .block-editor-inner-blocks .block-editor-block-list__layout > *:last-child{
  margin-bottom: 0;
}
