/* Carousel base */
.carousel,
.carousel-item {
	min-height: 50px;
}

.carousel .carousel-item {
	overflow: hidden;
}

.carousel-item .carousel-media {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	max-width: none;
	max-height: none;
	-o-object-fit: cover;
	object-fit: cover;
	outline: none;
	border: none;
	box-shadow: none;
}

/* Carousel multiple */
.carousel-multiple,
.carousel-multiple .carousel-item {
	height: inherit;
}

.carousel-multiple .carousel-item.active,
.carousel-multiple .carousel-item-next,
.carousel-multiple .carousel-item-prev {
	display: flex;
}

/* Efectos para carrusel: fade y vertical || Carousel effects: fade and vertical */
.carousel-fade .carousel-item {
	opacity: 0;
	transition-duration: .6s;
	transition-property: opacity;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-start,
.carousel-fade .carousel-item-prev.carousel-item-end {
	opacity: 1;
}

.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-end {
	opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-start,
.carousel-fade .active.carousel-item-prev {
	transform: translateX(0);
	transform: translate3d(0, 0, 0);
}

/* Vertical FX */
.carousel-vertical .carousel-inner {
	height: 100%
}

.carousel-vertical .carousel-inner>.carousel-item {
	-webkit-transition: .6s ease-in-out top;
	-o-transition: .6s ease-in-out top;
	transition: .6s ease-in-out top
}

@media all and (transform-3d),
(-webkit-transform-3d) {
	.carousel-vertical .carousel-inner>.carousel-item {
		-webkit-transition: -webkit-transform .6s ease-in-out;
		-o-transition: -o-transform .6s ease-in-out;
		transition: transform .6s ease-in-out;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-perspective: 1000;
		perspective: 1000px
	}

	.carousel-vertical .carousel-inner>.carousel-item.carousel-item-next,
	.carousel-vertical .carousel-inner>.carousel-item.active.carousel-item-end {
		top: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0)
	}

	.carousel-vertical .carousel-inner>.carousel-item.carousel-item-prev,
	.carousel-vertical .carousel-inner>.carousel-item.active.carousel-item-start {
		top: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0)
	}

	.carousel-vertical .carousel-inner>.carousel-item.carousel-item-next.carousel-item-start,
	.carousel-vertical .carousel-inner>.carousel-item.carousel-item-prev.carousel-item-end,
	.carousel-vertical .carousel-inner>.carousel-item.active {
		top: 0;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}
}

.carousel-vertical .carousel-inner>.carousel-item-next,
.carousel-vertical .carousel-inner>.carousel-item-prev {
	top: 0;
	height: 100%
}

.carousel-vertical .carousel-inner>.active,
.carousel-vertical .carousel-inner>.carousel-item-next.carousel-item-start,
.carousel-vertical .carousel-inner>.carousel-item-prev.carousel-item-end {
	top: 0
}

.carousel-vertical .carousel-inner>.carousel-item-prev,
.carousel-vertical .carousel-inner>.active.carousel-item-start {
	left: 0;
	top: -100%
}

.carousel-vertical .carousel-inner>.carousel-item-next,
.carousel-vertical .carousel-inner>.active.carousel-item-end {
	left: 0;
	top: 100%
}

/* Regla general: posición de objetos || Rule: object position */
.carousel-multiple .carousel-inner .active.carousel-item-start,
.carousel-multiple .carousel-inner .active.carousel-item-end {
	left: 0%;
	-webkit-transition: all .6s ease 0s;
	-moz-transition: all .6s ease 0s;
	-o-transition: all .6s ease 0s;
	-ms-transition: all .6s ease 0s;
	transition: all .6s ease 0s;
}

.carousel-multiple .carousel-caption {
	z-index: 1;
}

.carousel-multiple .carousel-inner .carousel-item>* {
	float: left;
	position: relative;
	margin-bottom: 0px;
	overflow: hidden;
}

/* variable por 2 thumbs (col-sm-6) || 2 thumbs */
.carousel-multiple.x2 .carousel-inner .active.carousel-item-start {
	-webkit-transform: translate3d(-50%, 0, 0);
	-moz-transform: translate3d(-50%, 0, 0);
	-ms-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
}

.carousel-multiple.x2 .carousel-inner .active.carousel-item-end {
	-webkit-transform: translate3d(50%, 0, 0);
	-moz-transform: translate3d(50%, 0, 0);
	-ms-transform: translate3d(50%, 0, 0);
	transform: translate3d(50%, 0, 0);
}

.carousel-multiple.x2 .carousel-inner .carousel-item-prev {
	left: -50%;
}

.carousel-multiple.x2 .carousel-inner .carousel-item-next {
	left: 50%;
}

/* variable por 3 thumbs (col-sm-4) || 3 thumbs */
.carousel-multiple.x3 .carousel-inner .active.carousel-item-start {
	-webkit-transform: translate3d(-33.33333333%, 0, 0);
	-moz-transform: translate3d(-33.33333333%, 0, 0);
	-ms-transform: translate3d(-33.33333333%, 0, 0);
	transform: translate3d(-33.33333333%, 0, 0);
}

.carousel-multiple.x3 .carousel-inner .active.carousel-item-end {
	-webkit-transform: translate3d(33.33333333%, 0, 0);
	-moz-transform: translate3d(33.33333333%, 0, 0);
	-ms-transform: translate3d(33.33333333%, 0, 0);
	transform: translate3d(33.33333333%, 0, 0);
}

.carousel-multiple.x3 .carousel-inner .carousel-item-prev {
	left: -33.33333333%;
}

.carousel-multiple.x3 .carousel-inner .carousel-item-next {
	left: 33.33333333%;
}

/* variable por 4 thumbs (col-sm-3) || 4 thumbs */
.carousel-multiple.x4 .carousel-inner .active.carousel-item-start {
	-webkit-transform: translate3d(-25%, 0, 0);
	-moz-transform: translate3d(-25%, 0, 0);
	-ms-transform: translate3d(-25%, 0, 0);
	transform: translate3d(-25%, 0, 0);
}

.carousel-multiple.x4 .carousel-inner .active.carousel-item-end {
	-webkit-transform: translate3d(25%, 0, 0);
	-moz-transform: translate3d(25%, 0, 0);
	-ms-transform: translate3d(25%, 0, 0);
	transform: translate3d(25%, 0, 0);
}

.carousel-multiple.x4 .carousel-inner .carousel-item-prev {
	left: -25%;
}

.carousel-multiple.x4 .carousel-inner .carousel-item-next {
	left: 25%;
}

/* variable por 6 thumbs (col-sm-2) || 6 thumbs */
.carousel-multiple.x6 .carousel-inner .active.carousel-item-start {
	-webkit-transform: translate3d(-16.66666667%, 0, 0);
	-moz-transform: translate3d(-16.66666667%, 0, 0);
	-ms-transform: translate3d(-16.66666667%, 0, 0);
	transform: translate3d(-16.66666667%, 0, 0);
}

.carousel-multiple.x6 .carousel-inner .active.carousel-item-end {
	-webkit-transform: translate3d(16.66666667%, 0, 0);
	-moz-transform: translate3d(16.66666667%, 0, 0);
	-ms-transform: translate3d(16.66666667%, 0, 0);
	transform: translate3d(16.66666667%, 0, 0);
}

.carousel-multiple.x6 .carousel-inner .carousel-item-prev {
	left: -16.66666667%;
}

.carousel-multiple.x6 .carousel-inner .carousel-item-next {
	left: 16.66666667%;
}

/* Regla general: posición de objetos, después del clic || Objects after clic */
.carousel-multiple .carousel-inner .carousel-item-next.carousel-item-start {
	left: 0%;
}

.carousel-multiple .carousel-inner .carousel-item-prev.carousel-item-end {
	left: 0%;
}

.carousel-multiple .carousel-inner .carousel-item-next.carousel-item-start>* {
	opacity: 0;
}

.carousel-multiple .carousel-inner .carousel-item-next.carousel-item-start>*:last-child {
	opacity: 1;
}

.carousel-multiple .carousel-inner .carousel-item-prev.carousel-item-end>* {
	opacity: 0;
}

.carousel-multiple .carousel-inner .carousel-item-prev.carousel-item-end>*:first-child {
	opacity: 1;
}

/* Personalización de controles de carrusel || Carousel controls */
.carousel-control-prev-icon,
.carousel-control-next-icon {
	background-size: 15px;
}

/* Columnas auxiliares (intermedias) || Intermediate columns */
.col-lg-1a5,
.col-sm-1a5,
.col-xs-1a5,
.col-lg-1a7,
.col-sm-1a7,
.col-xs-1a7,
.col-lg-1a8,
.col-sm-1a8,
.col-xs-1a8,
.col-lg-1a9,
.col-sm-1a9,
.col-xs-1a9 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
}

.col-lg-1a5,
.col-sm-1a5,
.col-xs-1a5 {
	width: 20%;
	width: 20%;
}

.col-lg-1a7,
.col-sm-1a7,
.col-xs-1a7 {
	width: 14.285714285714285714285714285714%;
	width: 14.285714285714285714285714285714%;
}

.col-lg-1a8,
.col-sm-1a8,
.col-xs-1a8 {
	width: 12.5%;
	width: 12.5%;
}

.col-lg-1a9,
.col-sm-1a9,
.col-xs-1a9 {
	width: 11.1111111%;
	width: 11.1111111%;
}

/* Extras carrusel */
.carousel-dark .carousel-indicators [data-bs-target] {
	background-color: rgba(var(--bs-black-rgb), 1) !important;
}

@media only screen and (max-width : 768px) {

	/* Carrusel extendido || Carousel extended */
	.carousel-multiple .carousel-inner .carousel-item>* {
		position: initial;
	}

	.carousel-multiple .carousel-item>*:nth-child(n+2) {
		display: none;
	}

	.carousel-multiple .carousel-inner .carousel-item-next.carousel-item-start>*,
	.carousel-multiple .carousel-inner .carousel-item-prev.carousel-item-end>* {
		opacity: 1;
	}

	.carousel-multiple.x2 .carousel-inner .active.carousel-item-start,
	.carousel-multiple.x3 .carousel-inner .active.carousel-item-start,
	.carousel-multiple.x4 .carousel-inner .active.carousel-item-start,
	.carousel-multiple.x6 .carousel-inner .active.carousel-item-start {
		-webkit-transform: translate3d(-100%, 0, 0);
		-moz-transform: translate3d(-100%, 0, 0);
		-ms-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}

	.carousel-multiple.x2 .carousel-inner .active.carousel-item-end,
	.carousel-multiple.x3 .carousel-inner .active.carousel-item-end,
	.carousel-multiple.x4 .carousel-inner .active.carousel-item-end,
	.carousel-multiple.x6 .carousel-inner .active.carousel-item-end {
		-webkit-transform: translate3d(100%, 0, 0);
		-moz-transform: translate3d(100%, 0, 0);
		-ms-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}

	.col-sm-1a5,
	.col-xs-1a5,
	.col-sm-1a7,
	.col-xs-1a7,
	.col-sm-1a8,
	.col-xs-1a8,
	.col-sm-1a9,
	.col-xs-1a9 {
		width: 100%;
		width: 100%;
	}
}

/* Carrusel con controles extra */
@keyframes animation_fadein_bottom {
	from {
		opacity: 0;
		transform: translateY(100%);
	}

	to {
		opacity: 1;
	}
}

@keyframes animation_grow_right {
	0% {
		width: 0%;
	}

	100% {
		width: 90%;
	}
}

.has-text-indicators .carousel-caption:not(.carousel-text-indicators) {
	top: 1.25rem;
	text-align: left;
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: animation_fadein_bottom;
}

@media screen and (min-width:768px) {
	.has-text-indicators .carousel-caption:not(.carousel-text-indicators) {
		width: 40%;
		top: calc(100% / 4);
	}
}

.has-text-indicators .carousel-indicators:first-child {
	justify-content: start;
}

.has-text-indicators .carousel-text-indicators {
	left: 70%;
	width: 25%;
	top: 1.25rem;
	margin-bottom: 0px;
	right: auto;
	padding: 0px;
	text-align: left;
	flex-direction: column;
	justify-content: center;
	z-index: 1;
}

.has-text-indicators .carousel-text-indicators [data-bs-target] {
	padding-top: 15px;
	padding-bottom: 15px;
	transition: .6s ease;
	opacity: .5;
}

.has-text-indicators .carousel-text-indicators .active {
	opacity: 1;
}

.has-text-indicators .carousel-text-indicators .active::after {
	content: "";
	height: 3px;
	display: block;
	background-color: rgba(var(--bs-light-rgb), .5);
	animation: 4s animation_grow_right;
	margin-top: 10px;
	width: 90%;
}

/**
 * Estilos pendientes de ajuste.
 */
/* Acordeon, pendiente ajustar color segun heredado */
.accordion-button:not(.collapsed)::after {
	-webkit-mask-image: var(--bs-accordion-btn-icon);
	mask-image: var(--bs-accordion-btn-icon);
	filter: invert(0.5);
}
.accordion-button::after {
	-webkit-mask-image: var(--bs-accordion-btn-icon);
	mask-image: var(--bs-accordion-btn-icon);
	filter: invert(1);
}

/**
 * Estilos pendientes de ajuste. navbar
 */
 .dropdown-toggle::after{content:none !important;display:none !important;}
.navbar-nav.wp-block-navigation ul li{padding:.5rem;border-radius:var(--bs-border-radius);}
.navbar-collapse.collapsing .navbar-nav *,.navbar-collapse.collapse.show .navbar-nav *{width:80%;border:0px;}
.navbar-collapse.collapsing .navbar-nav li li,.navbar-collapse.collapse.show .navbar-nav li li{width:90%;padding-left:.25rem;border-left:1px solid #00000026;}
.navbar-collapse.collapsing button.nav-link.dropdown-toggle,.navbar-collapse.collapse.show button.nav-link.dropdown-toggle{min-height:40px;width:40px;}
.navbar-collapse.collapsing .nav-item.dropdown,.navbar-collapse.collapse.show .nav-item.dropdown{flex-wrap:wrap;}
@media only screen and (min-width:992px){.dropdown-menu{min-width:100%;}
.wp-block-navigation .dropup .wp-block-navigation__submenu-icon svg{transform:rotate(180deg);}
}
/*wp vars*/
.navbar-collapse.collapsing .navbar-nav *,.navbar-collapse.collapse.show .navbar-nav *{width:100%;position:relative;border:0px;}
.navbar-collapse.collapsing .navbar-nav li li,.navbar-collapse.collapse.show .navbar-nav li li{width:100%;}
.navbar-collapse.collapsing button.nav-link.dropdown-toggle,.navbar-collapse.collapse.show button.nav-link.dropdown-toggle{min-height:40px;width:40px;position:absolute;right:0;top:0;}
/* offcanvas estilos */
@media only screen and (max-width:991px){
.offcanvas .dropdown-menu{min-width:100%;}
.offcanvas .navbar-nav.wp-block-navigation ul li{padding:.5rem;border-radius:var(--bs-border-radius);width:100%;}
.offcanvas .navbar-nav.wp-block-navigation .wp-block-navigation-item{flex-wrap:wrap;}
.offcanvas .navbar-nav.wp-block-navigation .wp-block-navigation-item__content{flex-grow:1;}
.offcanvas.show{overflow-y:auto;padding:1rem;}
}


/**
 * Estilos pendientes de ajuste. modal
 */
/* ------------------------------------------------------------------------------------------------
 * 2.3) Ekiline Extend B4 Modulo: Modal || Modals
 * ----------------------------------------------------------------------------------------------*/
/* Effectos || Effects: zoom, newspaper, move-horizontal, move-from-bottom, unfold-3d, zoom-out */
.modal.zoom .modal-dialog{-webkit-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;transform:scale(0.6);}
.modal.zoom.show .modal-dialog{-webkit-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;transform:scale(1);}
.modal.newspaper .modal-dialog{-webkit-transition:all 0.5s ease-in-out;transition:all 0.5s;transform:scale(0) rotate(500deg);}
.modal.newspaper.show .modal-dialog{transform:scale(1) rotate(0deg);}
.modal.move-horizontal .modal-dialog{transition:all 0.5s;transform:translateX(-50px);}
.modal.move-horizontal.show .modal-dialog{transform:translateX(0);}
.modal.move-from-bottom .modal-dialog{transition:all 0.5s;transform:translateY(100%);}
.modal.move-from-bottom.show .modal-dialog{transform:translateY(0);}
.modal.unfold-3d .modal-dialog{transition:all 0.5s ease-in-out;transform-style:preserve-3d;transform:rotateY(-60deg);}
.modal.unfold-3d.show .modal-dialog{transform:rotateY(0deg);}
.modal.zoom-out .modal-dialog{transition:all 0.5s;transform:scale(1.3);}
.modal.zoom-out.show .modal-dialog{transform:scale(1);}
/* Modal lateral: agregar "left" or "right" en modal parent div, after class="modal" || Add left or right class in parent div.modal */
.modal.left-aside .modal-dialog,.modal.right-aside .modal-dialog{position:fixed;margin:auto;height:100%;-webkit-transform:translate3d(0%,0,0);-ms-transform:translate3d(0%,0,0);-o-transform:translate3d(0%,0,0);transform:translate3d(0%,0,0);width: inherit;}
.modal.left-aside .modal-content,
.modal.right-aside .modal-content{height:100%;overflow-y:auto;}
.modal.left-aside .modal-body,
.modal.right-aside .modal-body{padding:15px 15px 80px;}
.modal.left-aside.fade .modal-dialog{left:-320px;-webkit-transition:opacity 0.3s linear,left 0.3s ease-out;-moz-transition:opacity 0.3s linear,left 0.3s ease-out;-o-transition:opacity 0.3s linear,left 0.3s ease-out;transition:opacity 0.3s linear,left 0.3s ease-out;transform: translate(0,0px);}
.modal.left-aside.fade.show .modal-dialog{left:0;}
.modal.right-aside.fade .modal-dialog{right:-320px;-webkit-transition:opacity 0.3s linear,right 0.3s ease-out;-moz-transition:opacity 0.3s linear,right 0.3s ease-out;-o-transition:opacity 0.3s linear,right 0.3s ease-out;transition:opacity 0.3s linear,right 0.3s ease-out;transform: translate(0,0px);}
.modal.right-aside.fade.show .modal-dialog{right:0;}
/** Modal inferior **/
.modal.move-from-bottom .modal-dialog{position:fixed;left:0;right:0;bottom:0;margin:0px auto;height:60%;transform: translate(0,50px) !important;}
.modal.move-from-bottom.fade.show .modal-dialog{transform: translate(0,0px) !important;}
.modal.move-from-bottom .modal-content{height:100%;overflow-y:auto;}
  /*Full modal*/
  .modal,.modal-dialog,.modal-content,.modal-body{-webkit-transition:all .6s ease-in-out !important;-moz-transition:all .6s ease-in-out !important;-ms-transition:all .6s ease-out !important;-o-transition:all .6s ease-in-out !important;transition:all .6s ease-in-out !important;}
  .modal-full .modal-dialog{width:100%;max-width:100%;margin:0px auto;}
  .modal-full .modal,.modal-full .modal .modal-dialog,.modal-full .modal .modal-content,.modal-full .modal .modal-body{height:100%;}
  .modal-full .modal-backdrop{opacity:.9;}
  /*full modal header y footer*/
  .modal-full .modal-header,.modal-full .modal-footer{position:absolute;z-index:1000;border:none;}
  .modal-full .modal-header{top:0;left:0;right:0;}
  .modal-full .modal-footer{bottom:0;right:0;padding:0px;}
  /*full modal específicos,inline,iframe*/
  .modal-full .window-inline .modal-header{position:relative;}
  .modal-full .window-image,.modal-full .window-image .modal-dialog,.modal-full .window-image .modal-content,.modal-full .window-image .modal-body{height:auto;}
  /* Modal con nav || Modal with nav */
  .modal-nav {padding:0px !important;margin:0px auto;}
  .modal-nav .modal-dialog{margin:0px auto;}
/*ajuste en los dispositivos moviles y touch */
.modal-body{-webkit-overflow-scrolling:touch;overflow-y:auto;}
/* Desenfocar items .modal {backdrop-filter:blur(5px);} */
@media only screen and (max-width : 768px) {
 /*full modal específicos,image,iframe*/
 .modal-full .window-image .modal-body img,.modal-full .window-image .modal-body img.img-fluid{max-width:inherit;}
 .modal-full .window-image,.modal-full .window-image .modal-dialog,.modal-full .window-image .modal-content,.modal-full .window-image .modal-body{height:100%;}
}