/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-ekiline-collection-ekiline-collection {
	border: 1px dashed #c8c8c8;
}

/* Accordion Styles */

.wp-block-ekiline-collection-ekiline-accordion {
	border: 1px dashed #c8c8c8;
	border-radius: 2px !important;
}

.wp-block-ekiline-collection-ekiline-accordion.is-selected,
.wp-block-ekiline-collection-ekiline-accordion.has-child-selected {
	border: 1px solid #000000;
}

.wp-block-ekiline-collection-ekiline-accordion .item-title{
	border-bottom: 1px dashed #c8c8c8;
	margin-bottom:10px;
	padding: 5px;
}

.wp-block-ekiline-collection-ekiline-accordion .child-item-accordion.is-selected .item-title{
	border-bottom: 1px solid #c8c8c8;
}



/* Collapse Styles */

.wp-block-ekiline-collection-ekiline-collapse {
	border: 1px dashed #c8c8c8;
	border-radius: 2px !important;
}

.wp-block-ekiline-collection-ekiline-collapse.is-selected,
.wp-block-ekiline-collection-ekiline-collapse.has-child-selected {
	border: 1px solid #000000;
}

.wp-block-ekiline-collection-ekiline-collapse .item-title{
	border-bottom: 1px dashed #c8c8c8;
	margin-bottom:10px;
	padding: 5px;
}

.wp-block-ekiline-collection-ekiline-collapse .child-item-collapse.is-selected .item-title{
	border-bottom: 1px solid #c8c8c8;
}


.editor-collapse-route:not(.has-anchor){
	background-color:#000;
	color: #fff;
	padding: 5px;
	margin: 0px;
}

.editor-collapse-route.has-anchor{
	background-color: #efefef;
}
.editor-collapse-route pre{
	margin-bottom: 0px !important;
	padding: 10px;
}

/* Popover(s) Styles */


.wp-block-ekiline-collection-ekiline-popovers {
	border: 2px solid #000;
	border-radius: 2px !important;
	background-color: #ffff00;
	padding: 10px;
}

.wp-block-ekiline-collection-ekiline-popovers.is-selected,
.wp-block-ekiline-collection-ekiline-popovers.has-child-selected {
	border: 1px solid #000000;
}

.wp-block-ekiline-collection-ekiline-popovers .item-title{
	border-bottom: 1px dashed #c8c8c8;
	margin-bottom:10px;
	padding: 5px;
}

.wp-block-ekiline-collection-ekiline-popovers .child-item-popovers.is-selected .item-title{
	border-bottom: 1px solid #c8c8c8;
}


.editor-popovers-route:not(.has-anchor){
	background-color:#000;
	color: #fff;
	padding: 5px;
	margin: 0px;
}

.editor-popovers-route.has-anchor{
	background-color: #efefef;
}
.editor-popovers-route pre{
	margin-bottom: 0px !important;
	padding: 10px;
}

/* Progress */

.wp-block-ekiline-collection-ekiline-progress {
	border: 1px dashed #e9ecef;
	padding: 10px;
}

.wp-block-ekiline-collection-ekiline-progress.has-child-selected {
	border: 1px solid #000000;
}

.wp-block-ekiline-collection-ekiline-progress .block-editor-inner-blocks{
	background-color: #e9ecef;
	height:100%;
}

.wp-block-ekiline-collection-ekiline-progress .block-editor-block-list__layout{
	display: flex;
	justify-content: flex-start;
	align-content: stretch !important;
	height:100%;
	overflow: hidden;
}

.wp-block-ekiline-collection-ekiline-progress .block-editor-block-list__layout > .wp-block {
	border-right: 1px solid #c9c9c9;
	background-color: rgba(173, 174, 175, 0.638);
	margin: 0px !important;
	max-width: 100% !important;
  }

  .wp-block-ekiline-collection-ekiline-progress .block-editor-block-list__layout > .wp-block > .wp-block.item-progress{
	margin: 0px;
	width: 100% !important;
	max-width: 100%;
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .wp-block-ekiline-collection-ekiline-progress .block-editor-block-list__layout > .wp-block > .wp-block.item-progress.is-selected{
	border: 1px solid #000;
  }

  .wp-block-ekiline-collection-ekiline-progress .block-editor-block-list__layout > .wp-block > .wp-block.item-progress *{
	  text-align: center;
	  margin: 0;
  }

/* toast */


.wp-block-ekiline-collection-ekiline-toast {
	border: 1px dashed #c8c8c8;
	border-radius: 2px !important;
}
 
.wp-block-ekiline-collection-ekiline-toast.is-selected,
.wp-block-ekiline-collection-ekiline-toast.has-child-selected {
	border: 1px solid #000000;
}

.wp-block-ekiline-collection-ekiline-toast .toast-item{
	border: 1px solid #c8c8c8;
	margin-bottom:10px;
	border-radius: 5px !important;
}

.wp-block-ekiline-collection-ekiline-toast .toast-item .item-title{
	border-bottom: 1px solid #c8c8c8;
	margin-bottom:10px;
	padding: 10px;
}

/* tabs */

.wp-block-ekiline-collection-ekiline-tabs {
	border: 1px dashed #c8c8c8;
	border-radius: 2px !important;
}

.wp-block-ekiline-collection-ekiline-tabs.is-selected,
.wp-block-ekiline-collection-ekiline-tabs.has-child-selected {
	border: 1px solid #000000;
}

.wp-block-ekiline-collection-ekiline-tabs.tabs-wrapper.wp-block,
.tabs-wrapper.wp-block {
	padding: 10px;
	margin-top: initial;
}

.tabs-wrapper .wp-block .wp-block:not(.tabs-navbar,.tabs-container, .tab-content) {
	max-width: 100% !important;
	margin-top: 0px !important;
	margin-bottom: 5px !important;
}

.tabs-navbar .wp-block:not(.tab-link) {
	margin-right: 1px;
}

.tabs-navbar .block-editor-inner-blocks .block-editor-block-list__layout {
	display: flex;
	margin-bottom: 2px !important;
}

.tabs-navbar .wp-block {
	margin-left: 0px;
	margin-right: 0px;
}


.editor-styles-wrapper .tab-link {
	border: 1px solid #cfcfcf;
	background-color: #ffffff;
	border-radius: 2px;
	padding: 10px;
}

.editor-styles-wrapper .tab-content {
	border-bottom: 1px dashed #cfcfcf;
	border-right: 1px dashed #cfcfcf;
	background-color: #ffffff;
	border-radius: 0px 0px 2px 0px;
	padding: 10px 20px 20px;
	// margin-left: 10px;
	// margin-right: 10px;
}


/** Modal **/
.wp-block-ekiline-collection-ekiline-modal {
	border: 1px dashed #c8c8c8;
	border-radius: 2px !important;
}

.wp-block-ekiline-collection-ekiline-modal.is-selected,
.wp-block-ekiline-collection-ekiline-modal.has-child-selected {
	border: 1px solid #000000;
}

.editor-modal-header{
	border-bottom: 1px solid #c8c8c8;
	padding-top: 10px;
	padding-bottom: 10px;
}
.editor-modal-body{
	padding-top: 10px;
	padding-bottom: 10px;
}
.editor-modal-footer{
	border-top: 1px solid #c8c8c8;
	padding-top: 10px;
	padding-bottom: 10px;
}

.editor-modal-route:not(.has-anchor){
	background-color:#000;
	color: #fff;
	padding: 5px;
	margin: 0px;
}

.editor-modal-route.has-anchor{
	background-color: #efefef;
}
.editor-modal-route pre{
	margin-bottom: 0px !important;
	padding: 10px;
}

/* Carousel Styles */

.wp-block-ekiline-collection-ekiline-carousel,
.wp-block-ekiline-collection-ekiline-carousel-extra {
	border-radius: 2px !important;
	padding: 1px;
	background-color: #c8c8c8;
}
